@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
  margin: 0;
}

body {
  height: 100%;
  font-size: 1.5em;
  font-family: "HelveticaNeue", Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: #222;
  position: relative;
}

html {
  font-size: 12px;
}

.navv {
  background-color: rgb(228, 14, 85);
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  height: 50px;
  margin: auto;
  font-size: 2.5rem;

}

.first-div {
  background: linear-gradient(rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)),
    url(Rani-Laxmi-Bai.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: blur(4px); */
  /* opacity: 0.6; */
  display: grid;
  align-content: center;
  justify-content: center;
}


.text-styling {
  /* display: inline; */
  font-size: 10rem;
  /* border: 3px solid #080000; */
  text-transform: uppercase;
  width: 5%;
  padding: 20px;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;
  color: rgb(228, 14, 85);
  text-decoration: wavy;
  font-weight: bolder;
  /* font-family: 'Ubuntu', sans-serif; */
  font-family: 'Josefin Sans', sans-serif;
  /* text-shadow: 1px 1px 2px rgba(0, 0,0, 1), -1px 0px 2px rgba(0,0,0, 1) */
  text-shadow:
    1px 1px 2px rgb(14, 11, 11),
    -1px 0px 2px rgb(14, 13, 13),
    -2px 0px 2px rgb(9, 9, 9),
    -3px 0px 2px rgb(5, 5, 5),
    -4px 0px 2px rgb(6, 6, 6),
    -5px 0px 2px rgb(11, 11, 11),
    -6px 0px 2px rgba(0, 0, 0, 1),
    -7px 0px 2px rgba(0, 0, 0, 1),
    -8px 0px 2px rgba(0, 0, 0, 1),
    -9px 0px 2px rgba(0, 0, 0, 1),
    -10px -2px 2px rgba(0, 0, 0, 1)
}

.tagline {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  color: rgb(15, 15, 15);
  height: 50px;
  margin-top: 150px;
  font-size: 2.5rem;
  text-shadow: 1px 1px 2px rgb(228, 14, 85), -1px 0px 2px rgb(228, 14, 85)
}


#second-div {
  background-color: rgb(228, 14, 85);
  /* background-image: url("bg.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#second-div-text {
  order: 1;
  flex-grow: 1;
  min-width: 30%;
  margin-top: 15vh;
  font-size: 1.3em;
  /* font-family: "roboto", sans-serif; */
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-weight: 600;
  margin-bottom: 25vh;
  color: #fff;
}

.second-div-text h2{
  margin-bottom: 2%;
  font-weight: bolder;
}


#rani_birth {
  max-width: 400px;
  max-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

#second-div-image {
  order: 2;
  flex-grow: 1;
  min-width: 45%;
  align-self: center;
  max-width: 1700px;
  margin-top: 1vh;
  margin-right: 6%;
  /* position: absolute; */
  /* opacity: 0.6; */
}
.img_birth{
  width: 600px;
  height: 600px;
  margin-bottom: 14vh;
}
.img_birth {
  max-width: 100%;
  box-sizing: border-box;
  float: right;
}


#third-div {
  /* background-color: #000; */
  background-color: rgb(228, 14, 85);
  /* background-image: url("bg.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  max-width: 100vw;

}

.third-div-text{
  /* justify-content: center; */
  text-align: justify;
  text-justify: inter-word;
}

.container {
  width: 55%;
  text-align: center;
  margin: 0 auto;
  padding: 6% 1%;
  color: #fff;
  font-size: 1.8rem;
}


#author-text {
  color: rgb(228, 14, 85);
  font-size: 3rem;
  text-align: center;
  margin-top: 0.6vh;
  background-color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
  height: 50px;
  margin: auto;
}