@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: rgb(228, 14, 85); */
  background-color: rgb(175, 30, 137);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding-top: 0.5rem;
  padding-left: 0.8rem;
  padding-bottom: 0.5rem;
  padding-right: 0.8rem;
  font-size: 1.8rem;
  border: none;
  background: white;
  border-radius: 0.5rem;
  align-items: center;
  color: rgb(228, 14, 85);
}

.todoText {
  padding-top: 0.5rem;
  padding-left: 0.8rem;
  padding-bottom: 0.5rem;
  padding-right: 0.8rem;
  font-size: 1.8rem;
  border: none;
  background: white;
  border-radius: 0.5rem;
  align-items: center;
  color: rgb(228, 14, 85);
}

form button {
  color: rgb(228, 14, 85);
  background: white;
  cursor: pointer;
  transition: all 0.3 ease;
  margin-left: 0.8rem;
  align-items: center;

}

form button:hover {
  color: white;
  background: rgb(228, 14, 85);
}


.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 50%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  padding-left: 0.5rem;
  background: white;
  color: rgb(228, 14, 85);
  font-size: 1.5rem;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  transition: 0.5s;
  border-radius: 0.5rem;
  /* font-family: 'Josefin Sans', sans-serif; */
  font-family: 'Ubuntu', sans-serif;

}

.todo li {
  flex: 1;
}

.trash-btn {
  color: rgb(228, 14, 85);
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  align-items: end;
}

.complete-btn {
  color: rgb(255, 254, 254);
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.complete-btn {
  background: rgb(77, 203, 10);
}

.trash-btn {
  border-top-right-radius: 1.75rem;
  border-bottom-right-radius: 1.75rem;
  background: rgb(246, 244, 244);
  align-items: end;
}

.edit-button {
  background-color: rgb(228, 14, 85);
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  color: rgb(255, 254, 254);
  margin-left: 0.7rem;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check-circle {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.slide {
  transform: translateX(10rem);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
}

select {
  color: rgb(288, 14, 85);
  font-family: 'Ubuntu', sans-serif;
  width: 20rem;
  height: 3.2rem;
  cursor: pointer;
  padding: 1rem;
  font-size: 1rem;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background: rgb(228, 14, 85);
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select::hover::after {
  background: white;
  color: rgb(228, 14, 85);
}

.edit-input {

  height: 3.3rem;
  padding-top: 0.5rem;
  padding-left: 0.7rem;
  padding-bottom: 0.5rem;
  padding-right: 0.1rem;
  font-size: 1.8rem;
  border: none;
  background: white;
  border-radius: 0.5rem;
  align-items: center;
  color: rgb(228, 14, 85);
  margin-left: 0.4rem;
  width: 48rem;
}